<div class="container col-md-6">
    <div class="card">
        <div class="card-header">

            <h3>Crear Reporte de Servicio</h3>

        </div>
        <div class="card-body">
            <form (ngSubmit) ="guardarReporte()">
                <div class="form-group col-md-6">
                    <label for="identificacionTecnico">Identificacion Tecnico</label>
                    <input type="text" class="form-control" [(ngModel)] ="reporte.idTecnico" [ngModelOptions]="{standalone: true}">
                  </div>
                <div class="form-group col-md-6">
                    <label for="identificacionServicio">Identificacion Servicio</label>
                    <input type="text" class="form-control" [(ngModel)] ="reporte.idServicio" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-6">
                    <label for="fechaInicio">Fecha Inicio:</label>
                    <input type="datetime-local"  class="form-control" id="fInicio" name="trip-start" [(ngModel)] ="reporte.fechaIni" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-6">
                    <label for="fechaFin">Fecha Fin:</label>
                    <input type="datetime-local"  class="form-control" id="fFin" name="trip-start" [(ngModel)] ="reporte.fechaFin" [ngModelOptions]="{standalone: true}">
                </div>
                <br>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-outline-info"> Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>