<div class="container">
    <form>
        <div class="form-group col-md-2">
            <label for="exampleFormControlInput1">Tecnico</label>
            <input type="text" class="form-control" id="tecnico">
        </div>
        <div class="form-group col-md-2">
            <label for="exampleFormControlInput2">Numero de semanas</label>
            <input type="number" class="form-control" id="semana">
        </div>
           
    </form>
</div>